@{
	ViewData["Title"] = "Withdraw";
}


<div class="withdraw-page" id="withdraw">
	<h1 class="mb-4">How much you want to <span class="text-primary">Withdraw</span></h1>
	<form id="transactionFormWithdraw" method="post">
		<div class="form-group">
			<label for="amount">Enter Amount</label>
			<input type="number" class="form-control" id="amount" name="amount" step="0.01" min="0.01" required />
		</div>
		<button id="withdrawSend" type="submit" class="btn btn-success mt-4">Withdraw</button>
		<a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary mt-4">Cancel</a>
	</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/WithdrawRequest.js" asp-append-version="true"></script>